- content_for :javascript do
  = javascript_include_tag 'source_manipulation/clean'
  = javascript_include_tag 'source_manipulation/load'

:javascript
  var parts = #{3};
  var gdocid = "#{}"
  var type = "#{@source.collection ? 'collection' : 'document'}"
  

.everything


  .bar
    .rt
    = form_for @book do |f|
      = last_action
      = f.submit

    .rt.full.googlelogo.middle
      = link_to "http://" do
        Edit your book in&nbsp;
        = image_tag "http://upload.wikimedia.org/wikipedia/en/2/29/Google_Docs_logo.png"
  
    .heading.full
      Preview your book
    .rt.full.middle
      = image_tag "http://dl.dropbox.com/u/7989419/ipad_mini.png"
      iPad

      &nbsp;&nbsp;
      = image_tag "http://dl.dropbox.com/u/7989419/MRF_Kindle_Icon_s.png"
      Kindle

    .toc
      .heading
        Table of Contents
      .item= link_to "Cover"
      .item= link_to "Copyright"
      .item= link_to "The First Chapter"
      .item= link_to "The Second Chapter"
      .item= link_to "The Third Chapter"
      .item= link_to "The Fourth Chapter"
      .item= link_to "The Fifth Chapter"

        
  .wrapper
    .section
      .inner
        %table.info
          %tr
            %td.top.left{:rowspan => 2}
              .cover= image_tag "http://pictorical.com/system/images/BAhbBlsHOgZmIioyMDExLzAzLzIyLzIxLzU5LzIxLzExL01lcm1haWQxODAuanBn/Mermaid180.jpg"
              .cover_link= link_to "Change cover", "http://www.google.com"
            %td.right.top
              .full
                %input.text
                .label The title of your book
              .full
                %input.text
                .label The author of this book
          %tr
            %td.bottom
              
    
    #contents.container
    #html
