.cont
  = form_for @book do |f|
    = last_action
    .x
      = f.label :price
      = f.text_field :price
    .x
      = 
    .x
      = f.label :paypal_username
      = f.text_field :paypal_username
    .x
      = f.submit