.cont
  .xc
    = form_for @book do |f|
      = last_action
      .x
        %h3 Set a price for your book
        .half
          = f.radio_button :free, true
          Free
        .half
          = f.radio_button :free, false
          $
          = f.text_field :price, :size => 8
          US Dollars
        %hr.separator
      %h2.half How people will pay for your book?
      .full Choose all that you want
      %hr.separator.thin
      .full
        .half.strong
          = check_box_tag :sosos
          %big Accept Paypal
        .half.strong
          You get
          %big.red
            $11.37
          for each book sold.
          %span.normal We get $0.30. Paypal gets $0.35.
        .half.infobox
          Paypal username
          = f.text_field :paypal_username
          You need a verified Paypal account
        .half
          = link_to "Tell me more", "jsjs"
          %big &nbsp;
        %hr.separator.thin
        .full
          %h3.half
            = check_box_tag :sosos
            Pay to you directly
            %span.normal You will sell unique download links
          .half.strong
            You get
            %big.red
              $12.37
            for each book sold.
          .half We sell you a block of 50 unique download links for $20
          .k
            = link_to "Tell me more", "jsjs"
            %big &nbsp;
      .half
        = f.submit