.step
  .xc
    = form_for @book do |f|
      = last_action
      .x
        %h2 Set a price for your book
        .half
          = f.radio_button :free, true
          Free
        .half
          = f.radio_button :free, false
          $
          = f.text_field :price, :size => 8
          US Dollars
        %hr.separator
      %h2.half How people will pay for your book?
      .full
        More payment options coming soon.
        = link_to "Ideas?", "kkk"
      %hr.separator.thin
      .full
        .half.strong
          = check_box_tag :sosos
          %big Accept Paypal
        .half
          Accept payments in 190 countries
          = link_to "Tell me more", "jsjs"
        .infobox.full
          Paypal username
          = f.text_field :paypal_username
        = link_to "get one", "hhh"
      %hr.separator
        %h2.half Tell us more about you
        .full This is the first book you publish with us, we want to know more about you.
        %hr.separator.thin
                
        %table.normal.userinfo.full
          %tr
            %td Your full name
            %td= text_field_tag :user_name,"", :size => 30
          %tr
            %td Your country
            %td= country_select :user, :country
        %hr.separator.thin
        .full
          .userlogin
            %table.normal.userinfo
              %tr
                %td Your email
                %td victor@pictorical.com
              %tr
                %td Choose a password
                %td= password_field :user, :password, :size => 30
      
      .full
        = check_box_tag :sosos
        I accept the Terms and Conditions
      .half
        = f.submit