- content_for :body_class do
  min
  
.enclosing
  .show_book_min
    %table
      %tr
        %td.cover
          = image_tag 'http://pictorical.com/system/images/BAhbBlsHOgZmIioyMDExLzAzLzIyLzIxLzU5LzIxLzExL01lcm1haWQxODAuanBn/Mermaid180.jpg'
        %td.info
          .inner                                                                                                                                                                        
            %h1
              = @book.title
            %p
              = @book.author
            .price
              %span.official
                = @book.price.to_s
                USD
            .desc
              = @book.short_description
            .buy
              = link_to "Buy now", "jjjj",  :class => 'button'